*{
  padding: 0px;
  margin: 0px;
}
.container{
  width: 500px;
  margin: auto;
  margin-top: 20px;
}
.titulo{
  text-align: center;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
select{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 2px solid;
  margin-top: 2px;
}
.container table{
  width: 100%;
}
td{
  padding: 30px;
  border: 2px solid;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}